<div *ngFor="let tweet of tweets" class="tweet-container">
    <div class="tweet-header">
      <strong>{{ tweet.user }}</strong>
      <small class="time">{{ tweet.created_at | timeAgo }}</small>
      
    </div>
    <div class="tweet-content">
      {{ tweet.text }}
      
    </div><br>
    <div _ngcontent-c1 class="favorite">
    <i  _ngcontent-c1 class="far fa-heart"></i>
  </div>
    
  </div><br>
  <label>
      <textarea #ntext></textarea>{{ntext.value}}<br>
    </label><br>
    
    <button (click)="onSave(ntext.value)">tweeter</button><br>
